
<mlc-loaded-svg   
path="svg/reglas_cambiantes/elementos/dorso.svg" [class]="deckClass" style="transform: translateY(1.8vh);" >
</mlc-loaded-svg>  
<mlc-loaded-svg   
    path="svg/reglas_cambiantes/elementos/dorso.svg" [class]="deckClass" style="transform: translateY(1.2vh);">
</mlc-loaded-svg>  
<mlc-loaded-svg   
    path="svg/reglas_cambiantes/elementos/dorso.svg" [class]="deckClass" style="transform: translateY(0.6vh);">
</mlc-loaded-svg> 
<mlc-loaded-svg   
    path="svg/reglas_cambiantes/elementos/dorso.svg" [class]="deckClass">
</mlc-loaded-svg>   
