<div fxLayoutAlign="center center" style="width: 100%; height: 100%;">
  <mlc-loaded-svg #cardPlaceholder
    [ngClass]="{'cover-everything': faceDown, 'little-down-4': !faceDown}"
    path="changing_rules/svg/elementos/dorso.svg" [class]="cardClasses">
  </mlc-loaded-svg>
  <mlc-loaded-svg #cardPlaceholder
    [ngClass]="{'cover-everything': faceDown, 'little-down-3': !faceDown}"
    path="changing_rules/svg/elementos/dorso.svg" [class]="cardClasses">
  </mlc-loaded-svg>
  <mlc-loaded-svg #cardPlaceholder
    [ngClass]="{'cover-everything': faceDown, 'little-down-2': !faceDown}"
    path="changing_rules/svg/elementos/dorso.svg" [class]="cardClasses">
  </mlc-loaded-svg>
  <mlc-loaded-svg #cardPlaceholder
    [ngClass]="{'cover-everything': faceDown, 'little-down-1': !faceDown}"
    path="changing_rules/svg/elementos/dorso.svg" [class]="cardClasses">
  </mlc-loaded-svg>
<!--  style = "transform: translateY(0.65vh)">-->
  <mlc-loaded-svg
    [path]="cardSvg" [class]="cardClasses" style="z-index: 2">
  </mlc-loaded-svg> 
    <mlc-loaded-svg   class="current-card-symbol" style="z-index: 3"
    [pathWithReplaces]="cardPathWithReplaces" fxFlex="grow" fxLayoutAlign="center center">
  </mlc-loaded-svg> 
</div>
