<div fxLayoutAlign="center center" style="width: 100%; height: 100%;">
  <mlc-loaded-svg
    [ngClass]="{'cover-everything': faceDown}"
    path="svg/reglas_cambiantes/elementos/dorso.svg" [class]="cardClasses" style = "transform: translateY(0.65vh)">
  </mlc-loaded-svg> 
  <mlc-loaded-svg
    [path]="cardSvg" [class]="cardClasses" style="z-index: 2">
  </mlc-loaded-svg> 
    <mlc-loaded-svg   class="current-card-symbol" style="z-index: 3"
    [pathWithReplaces]="cardPathWithReplaces" fxFlex="grow" fxLayoutAlign="center center">
  </mlc-loaded-svg> 
</div>
