.card-to-select{
    width:22vh;
    height:38vh;
    background-color: whitesmoke;
    position:fixed;
    z-index: 20;
    top:27.5vh;
    right:4vh; 
    border-radius: 10px; 
}




.cards-grid-16 {
    display: grid;
    grid-template-columns: repeat(4,11vh);
    grid-template-rows: repeat(4,21.2vh) ;
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform: translate(3.5vh,0vh);
    grid-column-gap:13vh;   
}


.cards-grid-12 {
    display: grid;
    grid-template-columns: repeat(4,15vh);
    grid-template-rows: repeat(3,27.2vh) ;
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform: translateX(0.5vh);
    grid-column-gap:10vh;   
}


.cards-grid-9 {
    display: grid;
    grid-template-columns: repeat(3,15vh);
    grid-template-rows: repeat(3,27.2vh) ;
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform: translateX(3.5vh);
    grid-column-gap:13vh;   
}


.cards-grid-6 {
    display: grid;
    grid-template-columns: repeat(2,15vh);
    grid-template-rows: repeat(3,27.2vh) ;
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform: translateX(3.5vh);
    grid-column-gap:13vh;   
}


.cards-grid-4 {
    display: grid;
    grid-template-columns: repeat(2,19vh);
    grid-template-rows: repeat(2,31.2vh) ;
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform: translateX(3.5vh);
    grid-column-gap:13vh; 
}




.deck-container {
    position: fixed;
    width:15vh;
    height:20vh;
    top:35vh;
    left:18vh;
}

.card-component{
    transform-style: preserve-3d;
    width: 100%;
    height:100%;
    backface-visibility:hidden;
}



.card-component-visible {
    @extend .card-component;
    backface-visibility: visible;
}


.card-back {
}


.card-component .card-off {
    @extend .card-component;
    opacity: 0;
    backface-visibility:hidden;

}


.card-component .card-on {
    @extend .card-component;
    opacity: 1;
    backface-visibility:hidden;
    z-index: 30;

}