<div fxFlex="grow" style="background: #5ca244; position:relative" ></div>
<div class="myAbsolute full-width" style="height: 13vh; z-index: 10" fxLayoutAlign="space-between"  >
  <mlc-to-in-game-menu-button [forceNoAnimations]="true" class='button-menu' style="width: 13vh"
    svgPath="mini-lessons/executive-functions/svg/buttons/Home.svg">
  </mlc-to-in-game-menu-button>
  <mlc-hint-button class='button-hint' style="width: 13vh"
    svgPath="mini-lessons/executive-functions/svg/buttons/Hint.svg">
  </mlc-hint-button>
</div>
<div class="myAbsolute" fxFlex="grow" fxFlexFill>
  <div fxFlex="grow" fxFlexFill style="position: relative" fxLayoutAlign="center center">
    <mlc-loaded-svg fxFlex="grow" fxFlexFill class="myAbsolute" forceViewBoxTo="''"
      path="changing_rules/svg/elementos/mesa.svg">
    </mlc-loaded-svg>
    <div class="myAbsolute" fxLayoutAlign="end start">
      <app-clock *ngIf="totalTime"
      [totalTime]="totalTime" [color]="color" [timeFormatted]="timeFormatted" [currentTime]="currentTime"></app-clock>
    </div>
    <div fxFlex="grow" fxLayoutAlign="center center" [ngClass]="{'hide': deckWidth?.length === 0}" class="myAbsolute">
      <app-deck 
        [ngStyle]="{'width': deckWidth, 'height': deckHeight}"
        [deckHeight]="deckHeight" [deckWidth]="deckWidth"
         style="transform: translateX(-52vh);">
      </app-deck>
    </div>
  <div [ngClass]="gridClass" >
    <app-deck-per-card style="height: 100%;" [cardInfo]="exercise.currentCards[i]" [cardsInteractable]="cardsInteractable" [deckComponent]="deckComponent.elementRef"
     *ngFor="let item of exercise?.currentCards; let i = index" [cardClass]="stateByCards[i]" (click)="answerVerificationMethod(i)" [swiftCardOn]="swiftCardOn">
    </app-deck-per-card>
  </div>
 </div>
</div>
<!-- [cardClass]="stateByCards[i]" -->

<!-- <div fxLayout="column" class="card-to-select" style="height: auto"> -->
  <!-- <div style="background-color: #f04141;width:100%;height: 7.5vh;border-radius: 10px 10px 0 0;" fxLayoutAlign="center center">
    <ox-text [originalText]="currentSetting" color="white" font="dinnRegular" fontSize="4vh"></ox-text>
  </div>
  <app-rules ></app-rules>
</div> -->
<ox-comp-count-down *ngIf="countDownImageInfo"
                    (timeUpdated)="onCountDownTimeUpdated()"
                    [skipButtonInfo]="countDownImageInfo"
                    (started)="startGame()"
                    class="myAbsolute" fxFlex="grow" style="z-index: 123"></ox-comp-count-down>
