.card-to-select{
    width:20vh;
    height:34vh;
    background-color: whitesmoke;
    position:fixed;
    z-index: 20;
    top:32.5vh;
    right:4vh;  
}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(3,15vh);
    grid-template-rows: repeat(3,25vh) ;
    z-index: 50;
    justify-content: center;
    align-items: center;
    transform: translateX(3.5vh);
    grid-column-gap:13vh;
}


.deck-container {
    position: fixed;
    width:14vh;
    height:20vh;
    position: fixed;
    top:35vh;
    left:18vh;
}

.card-component {
    width: 100%;
    height:100%;
}