<div fxLayout="column" style="padding: 1vh;" fxLayoutAlign="center center">
  <!-- <div fxLayout="row" [ngClass]="isRuleOn[0] ? 'rule-container-on': 'rule-container-off'" fxLayoutAlign="center center">
    <mlc-loaded-svg class="rule color" forceViewBoxTo="''" [path]="colorRulePath">
    </mlc-loaded-svg>
    <ox-text font="dinnRegular" color="white" fontSize="2.9vh" originalText="COLOR" [ignoreLowerCase]="lowerCaseTrue"
      class="rule-text"></ox-text>
  </div>
  <div fxLayout="row" [ngClass]="isRuleOn[1] ? 'rule-container-on': 'rule-container-off'" fxLayoutAlign="center center">
    <mlc-loaded-svg class="rule shape" forceViewBoxTo="''" [path]="shapeRulePath">
    </mlc-loaded-svg>
    <ox-text font="dinnRegular" color="white" fontSize="2.9vh" originalText="FORMA" [ignoreLowerCase]="lowerCaseTrue"
      class="rule-text"></ox-text>
  </div>
  <div fxLayout="row" [ngClass]="isRuleOn[2] ? 'rule-container-on': 'rule-container-off'" fxLayoutAlign="center center">
    <mlc-loaded-svg class="rule filler" forceViewBoxTo="''" [path]="fillerRulePath">
    </mlc-loaded-svg>
    <ox-text font="dinnRegular" color="white" fontSize="2.9vh" originalText="RELLENO" [ignoreLowerCase]="lowerCaseTrue"
      class="rule-text"></ox-text>
  </div> -->

  <div #rules
  *ngFor="let obj of rulesArray; let i = index" 
  fxLayout="row" [class]="obj.class" fxLayoutAlign="center center">
    <mlc-loaded-svg class="rule" forceViewBoxTo="''" [path]="obj.iconSvg"></mlc-loaded-svg>
    <ox-text font="dinnRegular" color="white" fontSize="3.9vh" [originalText]="obj.id" [ignoreLowerCase]="lowerCaseTrue"
      class="rule-text"></ox-text>
  </div>

</div>
