.rule-container-off {
    background-color: #989aa2;
    width:17vh;
    height:8.5vh;
    border:0.01vh solid white;
}


.rule-container-on {
    @extend .rule-container-off;
    background-color: #3880ff;
}



.rule {
    width:6vh;
    height:6vh;
}