.rule-container-off {
    background-color: #989aa2;
    width:21vh;
    height:9.5vh;
    border:0.01vh solid white;
}


.rule-container-on {
    @extend .rule-container-off;
    background-color: #3880ff;
}






.rule {
    width:6vh;
    height:6vh;
}


.rule-text {
    margin-left:1vh;
}