<div *ngIf="totalTime" style="width: 12vh; position: relative; transform: translate(-12vh, 8vh)" fxLayout="row" fxLayoutAlign="center center">
  <div style="width: 11vh; background: #ebebeb; border-radius: 50%">
    <round-progress [responsive]="true" style="transform: scale(0.9)"
                    [clockwise]="false"
                    [rounded]="true"
                    [stroke]="10" [color]="color" [radius]="50"
                    [current]="currentTime" [max]="totalTime"></round-progress>
  </div>
  <div fxLayoutAlign="center center" fxLayout="row" class="myAbsolute">
    <ox-text
      style="transform: translateY(0.3vh)"
      color="black" font="dinnMedium" fontSize="2.7vh" [originalText]="timeFormatted"></ox-text>
  </div>
</div>
